<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum animi esse illum perferendis minima magnam eaque assumenda molestiae in. Error repudiandae iste similique qui voluptas, quidem cum aperiam recusandae minus!</p>

<%- include("footer") -%>
